{% load static %}
<section class="toys"> 
    <div class="subsection-title">
        <h2>Toys</h2>
        <img src="{% static 'images/string.svg' %}" alt="A ball of string" />
        <img src="{% static 'images/mouse.svg' %}" alt="A mouse" />
        <img src="{% static 'images/fish.svg' %}" alt="A fishy toy" />
    </div>
    <h3>Available Toys</h3> <!-- Changed to Cat's Toys in partial -->
    <div class="subsection-content">
        {% if cat.toys.count %} 
            {% for toy in cat.toys.all %}
            <div class="toy-container">
                <div class="color-block" style="background-color: {{ toy.color }}"></div>
                <a href="{% url 'toy-detail' toy.id %}">
                    <p>A {{ toy.color }} {{ toy.name }}</p>
                </a>
                <form action="{% url 'remove-toy' cat.id toy.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Remove Toy</button>
                </form>
            </div>
            {% endfor %} 
        {% else %}
            <p class="no-toys">{{cat.name}} doesn't have any toys!</p>
        {% endif %}
    </div>
    
    <h3>Available Toys</h3>
    <div class="subsection-content">
    <!-- Available toys here -->
    </div>
    {% if toys.count %} 
        {% for toy in toys.all %}
        <div class="toy-container">
            <div class="color-block" style="background-color: {{ toy.color }}"></div>
            <a href="{% url 'toy-detail' toy.id %}">
                <p>A {{ toy.color }} {{ toy.name }}</p>
            </a>
            <form action="{% url 'associate-toy' cat.id toy.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn submit">Give toy</button>
            </form>
        </div>
        {% endfor %} 
    {% else %}
        <p class="all-toys">{{cat.name}} already has all the available toys 🥳</p>
    {% endif %}
</section>